<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link href="/output.css" type="text/css" rel="stylesheet" />
    <link href="/output.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="bg-whiteLight">
    <div class="pb-16 mb-6 md:pb-24">
      {% include "partials/site-head.html" %}
    </div>
    {% block content %}{% endblock %}
    <div>{% include "partials/footer.html" %}</div>
  </body>
</html>
