{% extends "layouts/base.html" %} {% block content %}
<article>
  <div class="p-3 flex flex-col">
    <h1 class="text-6xl font-black text-blueWater my-1 mx-auto">Better Help</h1>
    {% include "partials/grid-home.html" %}
    <h2 class="text-3xl font-bold py-2 pl-2 my-4">Why Felipe is el GOAT</h2>
    <div class="flex flex-wrap justify-evenly">
      <div class="max-w-prose my-4 pl-2">
        <p>
          A little message about how it is better. I mean besides the fact that
          is operated by the goat. He has a lot of experience and stuff. He is
          also my cousin so I am a little biased, I'll admit. This is a good
          place to introduce this mf. Also, let's keep it short. We can get into
          detail later. But what is important is that we put his bitmoji here.
          Down below.
        </p>
      </div>
      <div class="pl-2 max-w-prose my-4">
        <p class="">
          A little message about how it is better. I mean besides the fact that
          is operated by the goat. He has a lot of experience and stuff. He is
          also my cousin so I am a little biased, I'll admit. This is a good
          place to introduce this mf. Also, let's keep it short. We can get into
          detail later. But what is important is that we put his bitmoji here.
          Down below.
        </p>
      </div>
    </div>
    <div>
      <hr class="h-2 bg-blueWater" />
      {% include "partials/cta-main.html" %}
    </div>
  </div>
</article>
{% endblock %}
