{% extends "layouts/base.html" %} {% block content %}
<article>
  <!--  -->
  <h1 class="text-4xl">{{ title }}</h1>
  <h2 class="text-3xl text-red-500 p-8">Now I hate! Arghhh</h2>
  {{ content | safe }}
  <!--  -->
  <button
    class="m-4 active:bg-blueWater hover:shadow-md active:border-4 bg-blueWater hover:bg-green-500 text-white px-2 py-1 rounded-xl border-slate-300 focus:shadow-sm"
  >
    Some cool buttons
  </button>
  <h1>{{ title }}</h1>
  <h2 class="text-3xl text-red-500 p-8">Now I hate! Arghhh</h2>
  {{ content | safe }}
  <!--  -->
  <button
    class="m-4 active:bg-blueWater hover:shadow-md active:border-4 bg-blueWater hover:bg-green-500 text-white px-2 py-1 rounded-xl border-slate-300 focus:shadow-sm"
  >
    Some cool buttons
  </button>
  <h1>{{ title }}</h1>
  <h2 class="text-3xl text-red-500 p-8">Now I hate! Arghhh</h2>
  {{ content | safe }}
  <!--  -->
  <button
    class="m-4 active:bg-blueWater hover:shadow-md active:border-4 bg-blueWater hover:bg-green-500 text-white px-2 py-1 rounded-xl border-slate-300 focus:shadow-sm"
  >
    Some cool buttons
  </button>
  <h1>{{ title }}</h1>
  <h2 class="text-3xl text-red-500 p-8">Now I hate! Arghhh</h2>
  {{ content | safe }}
  <!--  -->
  <button
    class="m-4 active:bg-blueWater hover:shadow-md active:border-4 bg-blueWater hover:bg-green-500 text-white px-2 py-1 rounded-xl border-slate-300 focus:shadow-sm"
  >
    Some cool buttons
  </button>
  <!--  -->
</article>
{% endblock %}
