{% block content %}
<div class="my-4 flex flex-wrap justify-between bg-blueWater text-whiteLight content-center px-4 width-full">
  <div>
    <h2 class="text-4xl py-4 md:text-6xl">Felipe Matamala is currently: 
      <strong class="text-green-500 text-5xl">Accepting new patients</strong>
    </h2>
  </div>
  <div></div>
  <div class="flex flex-col flex-wrap width-full text-2xl px-4 py-4 border border-white border-2 mb-2">
    <div><p>Fuck this shit</p></div>
    <div><p>Fuck you too</p></div>
  </div>
</div>
<!-- <div
  class="my-4 flex flex-wrap justify-around bg-blueWater text-whiteLight px-4 width-full content-center"
>
  <div class="my-2 text-3xl justify-self-stretch">
    <div>
      <h3 class="max-w-xs py-2 md:text-5xl">
        Felipe Matamala is currently:
        <span class="text-green-500 text-4xl md:text-7xl font-bold"
          ><a href="/" class="underline">Available</a></span
        >
        for bookings
      </h3>
    </div>
    <div>
      <p>If he is ready... email here</p>
    </div>
  </div> -->
  <!-- <div class="my-2 text-xl max-w-prose bg-black rounded-lg p-4">
    <div class="max-w-md mb-10">
      <h4 class="my-3">
        <a href="/" class="text-2xl underline"
          >Be a client of Felipe's *icon*</a
        >
      </h4>
      <p>
        Amplifying the reach of psychoanalysis and its benefits. Amplifying the
        reach of psychoanalysis and its benefits.
      </p>
    </div>
    <div class="max-w-md pb-3">
      <h4 class="my-3">
        <a href="/" class="text-2xl underline">Have Felipe Supervise me *</a>
      </h4>
      <p>
        Amplifying the reach of psychoanalysis and its benefits. Amplifying the
        reach of psychoanalysis and its benefits.
      </p>
    </div>
    <div class="max-w-md pb-3">
      <h4 class="my-3">
        <a href="/" class="text-2xl underline">Sign up for Newsletter *</a>
      </h4>
      <p>
        Amplifying the reach of psychoanalysis and its benefits. Amplifying the
        reach of psychoanalysis and its benefits.
      </p>
    </div>
  </div> -->
</div>
{% endblock %}
