{% block content %}
<div class="my-4 flex flex-wrap justify-between bg-blueWater text-whiteLight content-center px-4 width-full shadow-xl">
  <div>
    <h2 class="text-4xl py-4 md:text-6xl">Felipe Matamala is currently: 
      <strong class="text-green-500 text-5xl">Accepting new patients</strong>
    </h2>
  </div>
  <div></div>
  <a href="/" 
  class="flex flex-col flex-wrap width-full text-2xl px-4 py-4 border border-white border-2 mb-2 underline hover:drop-shadow-lg ">
    Become a client
  </a>
</div>
</div>
{% endblock %}
