{% block content %}
<!-- needs gradient background... maybe take color from gsapp -->
<div class="bg-blueWater flex justify-between p-4">
  <div id="footer-branding">
    <p class="text-2xl font-bold text-whiteLight">Felipe Matamala</p>
    <p>psychoanalyst</p>
    <div class="flex flex-wrap text-whiteLight">
      <p class="pr-2">icons</p>
      <p class="pr-2">icons</p>
      <p class="pr-2">icons</p>
      <p class="pr-2">icons</p>
      <p class="pr-2">icons</p>
      <p class="pr-2">icons</p>
    </div>
  </div>
  <div id="footer-nav" class="text-green-500">
    <ul class="md:flex justify-end items-baseline gap-4 flex-wrap">
      <li>
        <a
          href="/practice"
          class="hover:text-whiteLight underline px-2 py-2 text-sm font-light"
          >Practice</a
        >
      </li>
      <li>
        <a
          href="/writings"
          class="hover:text-whiteLight underline px-2 py-2 text-sm font-light"
          >Writings</a
        >
      </li>
      <li>
        <a
          href="/supervision"
          class="hover:text-whiteLight underline px-2 py-2 text-sm font-light"
          >Supervision</a
        >
      </li>
      <li>
        <a
          href="/about"
          class="hover:text-whiteLight underline px-2 py-2 text-sm font-light"
          >About</a
        >
      </li>
    </ul>
  </div>
</div>
{% endblock %}
