{% block content %}
<div class="grid grid-cols-2 gap-5 my-6">
  <button class="">
    <a
      href="/"
      class="hover:bg-green-500 focus:bg-green-500 bg-whiteLight mx-auto w-full rounded h-32 flex border-4 border-blueWater shadow-lg"
    >
      <p class="mx-auto my-auto text-lg font-black">Practices</p>
    </a>
  </button>
  <button class="">
    <a
      href="/"
      class="hover:bg-green-500 focus:bg-green-500 bg-whiteLight mx-auto w-full rounded h-32 flex border-4 border-blueWater shadow-lg"
    >
      <p class="mx-auto my-auto text-lg font-black">Methods</p>
    </a>
  </button>
    <a
      href="/"
      class="flex flex-col hover:bg-green-500 focus:bg-green-500 bg-whiteLight mx-auto w-full rounded h-32 flex border-4 border-blueWater shadow-lg"
    >
      <p class="mx-auto my-auto text-lg font-black">About Felipe</p>
      <p class="mx-auto my-auto text-lg font-black">About Felipe</p>
    </a>
  </button>
  <button class="">
    <a
      href="/"
      class="hover:bg-green-500 focus:bg-green-500 bg-whiteLight mx-auto w-full rounded h-32 flex border-4 border-blueWater shadow-lg"
    >
      <p class="mx-auto my-auto text-lg font-black">Learn more</p>
    </a>
  </button>
</div>
{% endblock %}
