{% block content %}
<nav class="hidden md:flex flex-wrap items-baseline">
  <ul class="md:flex justify-end hidden items-baseline gap-4 flex-wrap">
    <li>
      <a
        href="/practice"
        class="hover:underline px-2 text-xl sm:text-xl font-bold"
        >Practice</a
      >
    </li>
    <li>
      <a href="/writings" class="hover:underline px-2 text-xl font-bold"
        >Writings</a
      >
    </li>
    <li>
      <a href="/supervision" class="hover:underline px-2 text-xl font-bold"
        >Supervision</a
      >
    </li>
    <li>
      <a href="/about" class="hover:underline px-2 text-xl font-bold">About</a>
    </li>
  </ul>
</nav>
{% endblock %}
